* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    padding: 20px;
    text-align: right;
}

input {
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

.btn-submit {
    width: auto;
    height: auto;
    border: none;
    background-color: rgb(61, 205, 75);
    color: #fff;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.btn-delete {
    padding: 23px;
    border-radius: 5px;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
}

.btn-submit:hover {
    background-color: rgb(22, 86, 88);
}

.error {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 10px;
    color: red;
}